<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>   
  body{
    background: #6AA4B8;
    }

    .text{
        color: #f7efef;
        font-size:550%;
        text-align: center;
        margin-top: 20%;
    }     
  </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text">{{message}}</h1>      
        </div> 
    </div>
</div>

</body>